<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Persona</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body class="body">


<br/>

<table id = "personTable" >


    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Country</th>
        <th>Year of birth</th>

    </tr>

    <tr th:each="person : ${listPersons}">

        <td th:text="${person.id}">ID</td>
        <td th:text="${person.username}">USERNAME</td>
        <td th:text="${person.password}">PASSWORD</td>
        <td th:text="${person.firstName}">FIRSTNAME</td>
        <td th:text="${person.lastName}">LASTNAME</td>
        <td th:text="${person.country}">COUNTRY</td>
        <td th:text="${person.yearOfBirth}">YEAROFBIRTH</td>

        <td>
            <a th:href="@{'/edit/'+${person.id}}"><button id="edit"> Edit </button></a>
            <a th:href="@{'/delete/'+${person.id}}"><button id="delete">Delete</button></a>
        </td>

    </tr>

</table>
<br>
<a href="new"><button id="new"> Add new Person</button></a>
<p id = "msg" th:text="${param.response}">Test</p>
</body>
</html>